<h1>Listing podcasts</h1>

<table>
  <thead>
    <tr>
      <th>Slug</th>
      <th>Course name</th>
      <th>Podcast name</th>
      <th>Feed</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= podcast.slug %></td>
        <td><%= podcast.course_name %></td>
        <td><%= podcast.podcast_name %></td>
        <td><%= podcast.feed %></td>
        <td><%= podcast.description %></td>
        <td><%= link_to 'Show', podcast %></td>
        <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>
        <td><%= link_to 'Destroy', podcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podcast', new_podcast_path %>
